 * {
    margin: 0;
    padding: 0;
}

body {
  font-family: "Times New Roman", "Times",serif;
    background-color: #E1F2F7 ;
}



/*HEADER*/

    * {
  box-sizing: border-box;
}
    
header {
  background-color: #EF0D50;
  padding: 74px;
  text-align: center;
  font-size: 35px;
    color: white;}

#logo {
    height: 100px;
    width: 150px;
    background-color: aliceblue;
    margin: 25px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
}

nav {
    top: 25px;
    left: 200px;
    right: 25px;
    background-color: #E5BACE;
    height: 100px;
    padding: 30px;
    box-sizing: border-box;
    float: right;
}


/*CONTENT*/

#content {
    border: #EF0D50 dotted 5px;
    margin: 250px 10%;
    padding: 10px;
    background-color:#E5BACE;
}

h1 {
    color: black;
   font-family: "Times New Roman", "Times",serif;
    font-size: 33px;
}

#sitemap {
    color: purple;
    font-family: "Times New Roman", "Times",serif;
    font-size: 20px;
}

#sitemap a {
    color: purple;
}

#sitemap a:hover {
    color: blue;
}

ul {
    list-style-type: none;
}

ul{
  margin-left:10px;
}

ul ul{
  margin-left:15px;
}

ul ul ul{
  margin-left:20px;
}


/*FOOTER*/


   footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color:skyblue;
    font-family: "Times New Roman", "Times",serif;
    padding: 0px 7px;
    box-sizing: border-box;
}

    

.p1 {
    float: left;
    font-family: "Times New Roman", "Times",serif;
    font-size: 18px;
}

.p2 {
    float: right;
    font-family: "Times New Roman", "Times",serif;
    font-size: 24px;
}  